{% load staticfiles %}

<div id="dash-floor-map" class="p-5 dashboard-item hide">
    <h1>Floor map</h1>

    <select name="mac-addr-option" class="date-selection" id="mac-addr-selection">

    </select>
    <div class="mac-search-wrapper">
        <input class='mac-input' id="search-mac-field" type="text" value="" required>
        <div class="validation-checker"></div>
        <button type="button" class="btn btn-info" id="mac-search-button">Search</button>
        <label for="search-mac-field">Mac address</label>
    </div>
    <p id="floor-number"></p>
    <div id="map">
        <div id="map-point"></div>
    </div>
    <ul id="mac-user-list">
        <li id="manufacturer">Manufacturer:<span></span></li>
        <li id="rssi">Max RSSI:<span></span></li>
        <li id="time-first">First located time:<span></span></li>
        <li id="time-last">Last located time:<span></span></li>
    </ul>
</div>