<div id="dash-floor-map" class="p-5 dashboard-item hide">
    <h1>Floor map</h1>

    <select name="mac-addr-option" class="date-selection" id="mac-addr-selection">

    </select>
    <div class="mac-search-wrapper">
        <input class='mac-input' id="search-mac-field" type="text" value="" required>
        <div class="validation-checker"></div>
        <button type="button" class="btn btn-info">Search</button>
        <label for="search-mac-field">Mac address</label>
    </div>

    <div id="map">

    </div>
</div>