<nav>
    <div class="container">
        <div id="menu" class="row">
            <div class="col-3 d-flex justify-content-center align-items-center">
                <span class="project-name">CCMN project</span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <!--<a class="content">Login:</a>-->
                <input id="login" content="Login" type="text" placeholder="Login" value="RO">
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <!--<a class="content">Password:</a>-->
                <input id="presence_pass" content="password" type="password" placeholder="Presence pass" value="Passw0rd">
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <input id="locate_pass" content="password" type="password" placeholder="Locate pass" value="just4reading">
            </div>
        </div>
    </div>
</nav>